.idea/
.vscode/
target/
out/
bin/
*.class
*.log
*.tmp
*.bak
*.swp
.DS_Store
*.iml
.project
.classpath
.settings/
.factorypath
test-output/
test-output/**
archivoDescarga/
test-output/archivoDescarga/
test-output/capturaPantalla/
/.mvn
env.properties
local.properties
credentials.json
node_modules/
dist/
.env